
footer{
    background-image: url(img-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 130px;
}

.foot{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    position: relative;
    top: 50px;
    color: black;
}

